// Navigation Styles here

h1{
    display:flex;
    width:15%;
    margin-left:28%;
    padding-top:10px;
 @media ( max-width: 500px ){
        padding-left:13%;
        padding-bottom:30px;
        justify-content: space-between;
        align-items: center;
    }
}


.topnavcontainer{
    display:flex;
    flex-direction:row;
    padding-left:54%;
    margin-top:-25px;
    padding-bottom:5px;
    @media ( max-width: 500px ){
        width:100%;
        padding-left:60px;
    }
a{
    font-size:2rem;
    padding:12px;
    justify-content:space-evenly;
    @media ( max-width: 500px ){
    font-size:2rem;
    justify-content:space-evenly;
    padding:12px;
        
   }
}
}


